// Define variables for your color scheme

// For example:
$red: #ee6352ff;
$blue: #aeb8feff;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #9ed872ff;
$gray: #292929ff;
$light-gray: rgb(250, 250, 250);
